*{
    color: rgb(47, 47, 49);
}
body{
    background-image: url(../../resources/img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img{
    width: auto;
    height: 200px;
    margin: 15px 25px 15px 25px;
    border: 1px black;
    border-radius: 15px;
}

.subtitle {
    color: blue;
}

h4{
    color: red;
}

input[type="text"]{
    color: orangered;
    background-color: rgb(189, 189, 189);
}

input[type="password"]{
    color: rgb(50, 205, 50);
    background-color: rgb(189, 189, 189);
}

input[type="submit"]{
    color: green;
    background-color: gray;
    margin-top: 5px;
}

input[type="submit"]:hover{
    color: red;
    background-color: rgba(128, 128, 128, 0);
    transition: .5s;
    margin-top: 5px;
}
